/* Fondo dinámico con expansión y contracción en tonos negro y azul */
body {
    background: linear-gradient(45deg, #223a53, #000000);
    background-size: 200% 200%;
    animation: expandContractAnimation 10s ease-in-out infinite;
    color: #f8f9fa;
    scroll-behavior: smooth;
}

/* Animación de expansión y contracción */
@keyframes expandContractAnimation {
    0% {
        background-size: 100% 100%;
    }

    50% {
        background-size: 250% 250%;
    }

    100% {
        background-size: 100% 100%;
    }
}

/*NAVBAR INICIO*/
/* Estilo futurista de la navbar */
.navbar {
    background-color: #031b3b;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #fac573;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #cbdbdf !important;
    transition: color 0.3s ease;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #f8eddd !important;
}

/* Estilo de botones brillantes */
.btn-primary {
    background-color: #2d435d;
    border: none;
    color: #f7e1c0;
    box-shadow: 0 0 20px rgba(88, 119, 126, 0.466);
    transition: all 0.4s ease;
}

.btn-primary:hover {
    background-color: #f7e1c0;
    box-shadow: 0 0 15px #f8cf93;
    transform: translateY(-5px);
    color: #344c67;
}

/* Ajustar tamaño del logo en la barra de navegación */
.logo-menu {
    height: 50px;
    /* Altura del logo */
    width: auto;
    /* Mantener proporciones */
    max-width: 150px;
    /* Establecer un ancho máximo */
}

/*NAVBAR FINAL*/


/*INICIO SECTION*/
/* Sección de inicio con animaciones futuristas */
#inicio h1 {
    color: #ffcd83;
    text-shadow: 0 0 15px rgba(255, 252, 211, 0.396);
    animation: fadeIn 1.5s ease forwards;
}

/* Importamos las fuentes desde Google */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Baskerville&display=swap');

/* Estilos para las diferentes fuentes */
.font-libre {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 4px;
    font-size: 4rem;
}

.font-great {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 10px;
}

/* Estilo base del texto */
.dynamic-text {
    color: #fac573;
    /* Color dorado */
    text-align: center;
    text-shadow: 0 0 15px rgba(255, 252, 211, 0.396);
}

#inicio p {
    font-size: 1.5rem;
    color: #f9ead5;
    animation: fadeIn 2s ease forwards;
}

#inicio .btn {
    animation: fadeIn 2.5s ease forwards;
}

/* Animación de entrada suave */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Secciones con borde y sombra */
section {
    padding: 100px 0;
}


#inicio h1 {
    display: inline-block;
    width: auto;
    max-width: 100%;
}

.logo-inicio {
    height: 220px;
    /* Ajusta la altura según sea necesario */
    width: auto;
    /* Mantén las proporciones */
    vertical-align: middle;
    /* Alinea el logo con el texto */
    margin-bottom: 20px;
}

#inicio p.lead {
    margin-top: -90px;
    /* Ajusta este valor según el espacio que necesites */
}

/* Ajuste del tamaño de la fuente del eslogan para pantallas pequeñas */
@media (max-width: 576px) {
    #inicio p.lead {
        font-size: 1rem;
        /* Tamaño reducido para el eslogan en móviles */
    }

    .dynamic-text {
        font-size: 28px;
        /* Ajuste para el texto dinámico */
    }
}


@media (max-width: 576px) and (max-width: 768px) {

    .logo-inicio {
        margin-bottom: 30px;
        /* Reduce el espacio debajo del logo */
        margin-top: -50px;
    }

}

@media (max-width: 576px) {
    .dynamic-text {
        font-size: 32px;
        /* Ajuste para pantallas pequeñas */
    }
}


/*FINAL INICIO SECTION*/

/* SERVICIOS INICIO*/
.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #007cc6;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 24px rgba(0, 180, 219, 0.4);
}

/* SERVICIOS FINAL*/

/*FORMULARIO INICIO*/
/* Contenedor semi-transparente del formulario */
.contact-container {
    background-color: rgba(206, 215, 234, 0.108);
    /* Fondo semi-transparente */
    border-radius: 15px;
    /* Bordes redondeados */
    padding: 40px;
    /* Espaciado interno */
    max-width: 800px;
    /* Ancho máximo */
    margin: 0 auto;
    /* Centrado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra */
}


/* Estilo general del campo de entrada */
.form-control {
    border-radius: 10px;
    border: 2px solid #c3cdda;
    background: rgba(255, 255, 255, 0.1);
    /* Fondo semi-transparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque para el fondo */
    color: #f8f9fa;
    /* Color del texto */
    box-shadow: 0 0 5px rgba(236, 240, 241, 0.592);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


/* Mantener el estilo al hacer foco */
.form-control:focus {
    border-color: #f7e1c0;
    background-color: rgba(255, 255, 255, 0.05);
    /* Mantener el fondo igual */
    color: #f9ead5;
    /* Mantener el color del texto */
    box-shadow: 0 0 10px rgba(250, 240, 177, 0.8);
}

/* Validación cuando el campo es incorrecto */
.form-control.is-invalid {
    border-color: red;
    background-color: rgba(255, 255, 255, 0.05);
    /* Mantener el fondo igual */
    color: #f8f9fa;
    /* Mantener el color del texto */
}

/* Validación cuando el campo es correcto */
.form-control.is-valid {
    border-color: green;
    background-color: rgba(255, 255, 255, 0.05);
    /* Mantener el fondo igual */
    color: #f8f9fa;
    /* Mantener el color del texto */
}

/*FORMULARIO FINAL*/



/*SOBRENOSOTROS INICIO*/
/* Estilo general para el apartado "Sobre Nosotros" */
.sobre-nosotros-card {
    background: rgba(255, 255, 255, 0.1);
    /* Fondo semi-transparente */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque para el fondo */
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    /* Sombra suave alrededor */
    max-width: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transición suave para el efecto hover */
    animation: floatCard 6s ease-in-out infinite;
    text-align: center;
    /* Centramos todo el contenido dentro de la tarjeta */
}

/* Efecto al pasar el cursor por encima */
.sobre-nosotros-card:hover {
    transform: scale(1.05);
    /* Aumento de tamaño */
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
    /* Sombra más intensa */
}

/* Título "Sobre Nosotros" */
.titulo-sobre-nosotros {
    font-size: 2.5rem;
    color: #fac573;
    /* Color dorado suave */
    text-shadow: 2px 2px 10px rgba(250, 197, 115, 0.5);
    /* Sombra suave en el texto */
    margin-bottom: 30px;
}

/* Texto de "Sobre Nosotros" */
.texto-sobre-nosotros {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #f8f9fa;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Sombra sutil en el texto */
    max-width: 750px;
    /* Máximo ancho para que el texto no sea demasiado ancho */
    margin: 0 auto;
    /* Aseguramos que el texto esté centrado */
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .sobre-nosotros-card {
        margin-left: 15px;
        /* Ajuste de margen a la izquierda */
        margin-right: 15px;
        /* Ajuste de margen a la derecha */
    }
}


/* Animación de flotación */
@keyframes floatCard {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 768px) {
    .titulo-sobre-nosotros {
        font-size: 2rem;
    }

    .texto-sobre-nosotros {
        font-size: 1rem;
    }
}

/*SOBRENOSOTROS FINAL*/



/*FOOTER SECTION INICIO */
.footer {
    background-color: #031b3b;
    /* El mismo color que el navbar */
    color: #f7e1c0;
    /* Color claro */
    padding: 0px 0;
}


.footer h5 {
    color: #f7e1c0;
    font-size: 23px;
}

.footer p,
.footer ul li {
    color: #fff9ef;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

/* Ajuste para que el footer mantenga su estructura en móviles */
.footer .container {
    text-align: left;
    /* Alinear a la izquierda por defecto */
}

.footer .social-icon {
    margin-right: 15px;
    /* Espacio entre íconos de redes sociales */
    color: #fff9ef;
    transition: color 0.3s;
}

.footer .social-icon:hover {
    color: #f7e1c0;
    /* Color azul claro al pasar el ratón */
    box-shadow: 0 0 50px rgba(250, 240, 177, 0.8);
}

.footer-logo {
    width: 150px;
    margin-bottom: -20px;
    margin-top: -25px;
}

/* Para pantallas pequeñas, ajustamos */
@media (max-width: 576px) {
    .footer .container {
        text-align: center;
        /* Solo centrar en pantallas pequeñas si es necesario */
    }

    .footer .col-md-6,
    .footer .col-md-3 {
        margin-bottom: 20px;
    }
}

.mr-icon {
    margin-right: 10px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.direccion {
    display: inline-block;
    /* Mantiene el texto alineado */
    margin-left: 5px;
    /* Ajusta el margen para alinear correctamente con el ícono */
    line-height: 1.5;
    /* Ajusta la altura de la línea para mejorar el espaciado */
}

.mr-icon {
    vertical-align: top;
    /* Mantiene el ícono alineado con la parte superior del texto */
    margin-top: 5px;
    /* Ajusta según sea necesario para perfeccionar la alineación */
}


/*FINAL FOOTER SECTION*/



.text-center {
    text-align: center;
}

.mbb {
    margin-top: -15px;
    padding-bottom: 20px;
}

/*FUENTES INICIO*/
h2.dosis {
    font-family: 'Dosis', sans-serif;
    font-size: 43px;
    color: #f3d4a5;

}

h5.dosis {
    font-family: 'Dosis', sans-serif;
}

.subtitulos {
    color: #81a3cc;
    font-size: 27px;

}

/*FUENTES FIN*/


/*Botón de WhatsApp INICIO*/
.whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366;
    /* Color verde de WhatsApp */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    /* Sombra para darle efecto de profundidad */
    transition: all 0.3s ease;
}

/* Imagen del logo de WhatsApp */
.whatsapp-button img {
    width: 35px;
    height: 35px;
}

/* Efecto al pasar el cursor sobre el botón */
.whatsapp-button:hover {
    transform: scale(1.1);
    /* Agranda un poco el botón */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    /* Aumenta la sombra */
}

/*WSP FINAL*/

.mt-contact {
    margin-top: 55px;
    margin-bottom: 5px;
}